html {
    scroll-behavior: smooth;
}

body {
    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    min-width: 300px;
    animation: slideup 1s forwards;
}

@keyframes slideup {
    0% {bottom: -240px;}
    100% {bottom: 0px;}
  }

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.inputtext {
    max-width: 250px;
}



@keyframes imagezoominout {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

.zoominoutimg {
    animation: imagezoominout 15s forwards;
    max-width: 400px;
}

.fadein { 
    position:relative; 
    width:500px; 
    height:332px; 
}

.fadein img { 
    position:absolute; 
    left:0; 
    top:0; 
    transition:opacity 1s; 
    opacity:1;
}

.fadein img.is-hidden { 
    opacity:0; 
}